
<!--<footer  style="background-color: #eae6e6" class="mt-5">-->
<!--  <div class="container py-5">-->
<!--    <div class="row py-4">-->
<!--      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">-->
<!--        <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>-->
<!--        <ul class="list-inline mt-4">-->
<!--          <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--          <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>-->
<!--          <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>-->
<!--          <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>-->
<!--          <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">-->
<!--        <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>-->
<!--        <ul class="list-unstyled mb-0">-->
<!--          <li class="mb-2"><a href="#" class="text-muted">For Women</a></li>-->
<!--          <li class="mb-2"><a href="#" class="text-muted">For Men</a></li>-->
<!--          <li class="mb-2"><a href="#" class="text-muted">Stores</a></li>-->
<!--          <li class="mb-2"><a href="#" class="text-muted">Our Blog</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">-->
<!--        <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>-->
<!--        <ul class="list-unstyled mb-0">-->
<!--          <li class="mb-2"><a href="#" class="text-muted">Login</a></li>-->
<!--          <li class="mb-2"><a href="#" class="text-muted">Register</a></li>-->
<!--          <li class="mb-2"><a href="#" class="text-muted">Wishlist</a></li>-->
<!--          <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-lg-4 col-md-6 mb-lg-0">-->
<!--        <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>-->
<!--        <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>-->
<!--        <div class="p-1 rounded border">-->
<!--          <div class="input-group">-->
<!--            <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">-->
<!--            <div class="input-group-append">-->
<!--              <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="bg-light py-4">-->
<!--    <div class="container text-center">-->
<!--      <p class="text-muted mb-0 py-2">© 2019 Bootstrapious All rights reserved.</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->


<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Về Tendir</h6>
        <p class="text-justify">Với slogan <i>KHÔNG ĐỂ AI PHẢI CÔ ĐƠN, </i>
          NOT FOUND mang đến cho mọi người những trải nghiệm thú vị. Khi đến với Tendir, bạn sẽ tìm được những hình mẫu lý tưởng mà đôi khi bạn tìm mỏi mắt bên ngoài không thấy. Chỉ với vài thao tác đơn giản, bạn đã có thể trải nghiệm được cảm giác khi yêu mà có khi suốt 2 chục, 3 chục năm qua bạn chưa được trải qua. Đăng ký tài khoản hoàn toàn miễn phí. Hãy đến ngay với chúng tôi!.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Thành viên sáng lập</h6>
        <ul class="footer-links member">
          <li><a href="#">Phạm Văn Trường</a></li>
          <li><a href="#">Nguyễn Khắc Dũng</a></li>
          <li><a href="#">Nguyễn Văn Đạt</a></li>
          <li><a href="#">Nguyễn Giang Sơn</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Pháp lý</h6>
        <ul class="footer-links">
          <li><a href="#">Quyền riêng tư</a></li>
          <li><a href="#">Liên hệ</a></li>
          <li><a href="#">Chính sách cookie</a></li>
          <li><a href="#">Điều khoản</a></li>
          <li><a href="#">Sở hữu trí tuệ</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="#">Not Found</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="ti-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="ti-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="ti-youtube"></i></a></li>
          <li><a class="linkedin" href="#"><i class="ti-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
