<div *ngIf="idUser == id">
<div class="col-12" *ngIf="hidden">
  <div class="card table-card">
    <div class="card-header">
      <h2 style="font-weight: 700;font-size: 25px; color: #f0564a; text-align: center;">Danh Sách Đơn Thuê Của Bạn</h2>
    </div>
    <div class="card-body px-0 py-0">
      <div class="table-responsive">
        <div class="session-scroll" style="height:478px;position:relative;">
          <table class="table table-hover m-b-0 billlist">
            <thead>
            <tr>
              <th><span>Người Thuê</span></th>
              <th><span>Ngày <a class="help" data-toggle="popover" title="Popover title"
                                              data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Thời gian bắt đầu <a class="help" data-toggle="popover" title="Popover title"
                                             data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Tổng Số Thời gian <a class="help" data-toggle="popover" title="Popover title"
                                             data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Tổng Số Tiền (VNĐ) <a class="help" data-toggle="popover" title="Popover title"
                                        data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Trạng Thái <a class="help" data-toggle="popover" title="Popover title"
                                      data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Chi Tiết Người Thuê <a class="help" data-toggle="popover" title="Popover title"
                                               data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th colspan="2" style="text-align: center"><span>Hành động <a class="help" data-toggle="popover" title="Popover title"
                                                data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of rents | paginate: {
            itemsPerPage: 5, currentPage: page, totalItems: totalLength, id: 'first'
             }; index as i">
              <td>{{item.userRent?.userName}}</td>
              <td>{{item.rentDate | date : 'dd/MM/YYYY' }}</td>
              <td>{{item.startTime | date : ' hh:mm' }}</td>
              <td>{{item.time}}  giờ</td>
              <td>{{item.totalMoney}}.000</td>
              <td *ngIf="item.status == 0">Chờ phản hồi</td>
              <td *ngIf="item.status == 1">Đã tiếp nhận</td>
              <td *ngIf="item.status == 2">Đã hoàn thành</td>
              <td *ngIf="item.status == 3">Đã thanh toán</td>
              <td *ngIf="item.status == 4">Chờ duyệt báo cáo</td>
              <td *ngIf="item.status == 5">Đã báo cáo</td>
              <td>
                <button class="btn btn-outline-info" data-toggle="modal" data-target="#detail" (click)="getRentById(item.id)">Xem chi tiết đơn
                  thuê
                </button>
              </td>
              <td *ngIf="item.status == 0">
                <button class="btn btn-outline-success" (click)="changeStatus(item.id, 1);">Tiếp nhận đơn</button>
              </td>
              <td *ngIf="item.status == 0">
                <button class="btn btn-outline-danger" (click)="deleteRentById(item.id)">Huỷ đơn</button>
              </td>
              <td *ngIf="item.status == 1">
                <button class="btn btn-outline-warning" disabled>Đang đợi người sử dụng dịch vụ xác nhận</button>
              </td>
              <td *ngIf="item.status == 2" colspan="2">
                <button class="btn btn-outline-danger" (click)="changeStatus(item.id,3); ">Nhận tiền</button>
              </td>
              <td *ngIf="item.status == 3" colspan="2">
                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#feedbackModal" (click)="open(item.id)">Báo cáo phản hồi</button>
              </td>
              <td *ngIf="item.status == 4" colspan="2">
                <button class="btn btn-outline-danger" disabled>Kết thúc</button>
              </td>
            </tr>


            </tbody>
          </table>
          <div class="mt-5 d-flex justify-content-center" *ngIf="totalLength > 5">
            <pagination-controls (pageChange)="page = $event" id='first'></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Detail rent-->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document"  style="transform: translateX(-25%);">
    <div class="modal-content text-center">
      <div class="modal-header" style="padding-left: 35%;">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 700;font-size: 25px; color: #f0564a;">Xem chi tiết hoá đơn</h5>
      </div>
      <div class="modal-body">
          <div class="form-group row">
            <p class="col-sm-4 col-form-label detailKey">Người thuê</p>
            <p class="col-sm-8">
              {{rent.userRent?.userName}}
            </p>
          </div>
          <div class="form-group row">
            <p class="col-sm-4 col-form-label detailKey">Ngày</p>
            <p class="col-sm-8">
              {{rent.rentDate | date : 'dd/MM/YYYY'}}
            </p>
          </div>
          <div class="form-group row">
            <p class="col-sm-4 col-form-label detailKey">Thời gian bắt đầu (h)</p>
            <p class="col-sm-8">
              {{rent.startTime | date : 'hh:mm dd/MM/YYYY'}}
            </p>
          </div>
          <div class="form-group row">
            <p class="col-sm-4 col-form-label detailKey">Tổng thời gian (h)</p>
            <p class="col-sm-8">
              {{rent.time}}
            </p>
          </div>
          <div class="form-group row">
            <p class="col-sm-4 col-form-label detailKey">Tổng số tiền (VNĐ)</p>
            <p class="col-sm-8">
              {{rent.totalMoney}}.000
            </p>
          </div>
          <div class="form-group row">
            <p class="col-sm-4 col-form-label detailKey">Trạng thái</p>
            <p class="col-sm-8" *ngIf="rent.status == 0">Chờ phản hồi</p>
            <p class="col-sm-8" *ngIf="rent.status == 1">Đã tiếp nhận</p>
            <p class="col-sm-8" *ngIf="rent.status == 2">Đã hoàn thành</p>
            <p class="col-sm-8" *ngIf="rent.status == 3">Đã thanh toán</p>
            <p class="col-sm-8" *ngIf="rent.status == 4">Chờ duyệt báo cáo</p>
            <p class="col-sm-8" *ngIf="rent.status == 5">Đã báo cáo</p>
          </div>
          <div class="form-group row">
            <p class="col-sm-4 col-form-label detailKey">Các dịch vụ sử dụng</p>
            <div class="col-sm-8">
            <p class="col-sm-12" *ngFor="let s of rent.services">+ {{s.name}}</p>
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-4 col-form-label detailKey">Phản hồi</p>
            <p class="col-sm-8">{{rent.feedback}}</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






<!-- The Modal Feedback -->
<div class="modal" id="feedbackModal">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-left: -25%;">

      <!-- Modal Header -->
      <div class="modal-header" style="padding-left: 35%;">
        <h4 class="modal-title" style="text-align: center; color: #f0564a;">Báo cáo phản hồi</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <textarea style="width: 100%;" [(ngModel)]="feedback" name="" id="" cols="60" rows="10"></textarea>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeStatusAndFeedback(idFeedback, 4);">Xong</button>
      </div>

    </div>
  </div>
</div>
<div class="col-xl-12 col-md-6" *ngIf="hidden == false">
  <div class="card table-card">
    <div class="card-header">
      <h5 style="text-align: center">Chi tiết đơn hàng</h5>
    </div>
    <div class="card-body px-0 py-0">
      <div class="table-responsive">
        <div class="session-scroll" style="height:478px;position:relative;">
          <table class="table table-hover m-b-0">
            <thead>
            <tr>
              <th><span>Người Thuê</span></th>
              <th><span>Ngày <a class="help" data-toggle="popover" title="Popover title"
                                              data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Thời gian bắt đầu <a class="help" data-toggle="popover" title="Popover title"
                                             data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Tổng Số Thời gian <a class="help" data-toggle="popover" title="Popover title"
                                             data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Tổng Số Tiền (VNĐ) <a class="help" data-toggle="popover" title="Popover title"
                                        data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Trạng Thái <a class="help" data-toggle="popover" title="Popover title"
                                      data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Các dịch vụ sử dụng <a class="help" data-toggle="popover" title="Popover title"
                                               data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Phản hồi về người thuê <a class="help" data-toggle="popover" title="Popover title"
                                                  data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
              <th><span>Tuỳ chọn <a class="help" data-toggle="popover" title="Popover title"
                                    data-content="And here's some amazing content. It's very engaging. Right?"><i
                class="feather icon-help-circle f-16"></i></a></span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{rent.userRent?.userName}}</td>
              <td>{{rent.rentDate | date : 'dd/MM/YYYY' }}</td>
              <td>{{rent.startTime | date : ' hh:mm dd/MM/YYYY' }}</td>
              <td>{{rent.time}}  giờ</td>
              <td>{{rent.totalMoney}}.000</td>
              <td *ngIf="rent.status == 0">Chờ phản hồi</td>
              <td *ngIf="rent.status == 1">Đã tiếp nhận</td>
              <td *ngIf="rent.status == 2">Đã hoàn thành</td>
              <td *ngIf="rent.status == 3">Đã thanh toán</td>
              <td *ngIf="rent.status == 4">Chờ duyệt báo cáo</td>
              <td *ngIf="rent.status == 5">Đã báo cáo</td>
              <td>
                <p *ngFor="let s of rent.services">+ {{s.name}}</p>
              </td>
              <td>{{rent.feedback}}</td>
              <td>
                <button class="btn btn-outline-danger" (click)="viewDetail();">Trở về</button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
