<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="''">Not Found</a>
  <a [routerLink]="['/rents/provider/', idUser]" style="margin-right: auto;" *ngIf="!notCCDV && idUser">Xin chào {{name}}</a>
  <a [routerLink]="['/rents/payer/', idUser]" style="margin-right: auto" *ngIf="idUser && notCCDV">Xin chào {{name}}</a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/login']" *ngIf="!idUser">Đăng nhập</button>
    <div class="dropdown">
      <img class="dropbtn" src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" width="50px" height="50px" style="border-radius: 10%">
      <div class="dropdown-content">
        <a [routerLink]="['/rents/provider/', idUser]">Xem danh sách đơn</a>
        <a [routerLink]="['edit/',idUser]" *ngIf="notCCDV && idUser">Đăng ký CCDV</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>

  </form>
</nav>
