<!--<script src="../../../personalpage/upload.js"></script>-->
<div class="container">
  <!--  <div class="row mt-5">-->
  <!--    <div class="col-2">-->
  <!--      <div class="input-group">-->
  <!--        <select class="form-select" id="gender">-->
  <!--          <option selected>Giới tính</option>-->
  <!--          <option value="Nam">Nam</option>-->
  <!--          <option value="Nữ">Nữ</option>-->
  <!--          <option value="Khác">Khác</option>-->
  <!--        </select>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-3">-->
  <!--      <div class=" input-group">-->
  <!--        <select class="form-select" id="city">-->
  <!--          <option selected>Thành Phố</option>-->
  <!--          <option *ngFor="let item of city" value="{{item.name}}">{{item.name}}</option>-->
  <!--        </select>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-2">-->
  <!--      <div class="range">-->
  <!--        <input type="text" class="form-control" placeholder="Nhập tên" id="name"/>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-2">-->
  <!--      <div class="form-group col-md-3">-->
  <!--        <button type="submit" class="btn btn-primary" style="width: 100px">Tìm kiếm</button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--a-->

  <form [formGroup]="userForm">
    <div class="filter-player">
      <select class="form-control gender " formControlName="gender" (change)="getByGender()">
        <option>Giới tính</option>
        <option value="Nữ">Nữ</option>
        <option value="Nam">Nam</option>
      </select>
      <!--    <select class="form-control type ">-->
      <!--      <option value="">Thể loại</option>-->
      <!--      <option value="new">Người mới</option>-->
      <!--      <option value="hot">Hot</option>-->
      <!--      <option value="vip">Vip</option>-->
      <!--    </select>-->
      <select class="form-control city " formControlName="city" (change)="getListCity()">
        <option selected>Thành Phố</option>
        <option *ngFor="let item of city" value="{{item.name}}">{{item.name}}</option>
      </select>
      <input type="text"
             class="form-control name"
             placeholder="Tên"
             autocomplete="off"
             maxlength="32"
             value=""
             formControlName="name">
      <button type="button" class="form-control btn-filter btn btn-default" (click)="getAllByName()">
        <i class="fa fa-search"></i> Tìm kiếm
      </button>
    </div>
    <br>
  </form>

  <!--  b-->
<!--  x-->

  <div *ngIf="status == 'true'">
    <p style="margin: 6px 0 5px; font-weight: 700;font-size: 25px; color: #f0564a;">Danh Sách Tìm Kiếm</p>
    <div class="row" *ngIf="listUserCCDV.length !== 0">
      <div class="col-3 " *ngFor="let userCCDV of listUserCCDV | paginate : {
                itemsPerPage: 8,
                currentPage: page,
                totalItems: size1,
                id: 'first'
              };">
        <a style="text-decoration: none; cursor: pointer"
           [routerLink]="['provider-profile/', userCCDV.id ]" >
          <div class="card text-black mt-3" style="border-radius: 10px">
              <img style="height: 255px; width: 255px ; border-radius: 10px 10px 0 0" src="{{userCCDV.avatar}}" [routerLink]="['provider-profile/', userCCDV.id ]">
            <div class="card-img-overlay">
              <button class="btn-danger btn-md"
                      style="border-radius: 20px; margin-top: 85%; margin-left: 80%; inline-size: 100px">{{userCCDV.price}},000 đ/h
              </button>
            </div>
            <div class="row pl-3 mb-3">

              <h4 class="col-12 mt-3" style=" color: orangered">{{userCCDV.name}}</h4>
              <div class="col-12" style="color: gray">{{userCCDV.description}}</div>
              <div class="col-12" style="color: gray">{{userCCDV.category_name}}</div>

            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="mt-5 d-flex justify-content-center">
      <pagination-controls (pageChange)="page = $event" id='first'></pagination-controls>
    </div>
  </div>
  <div *ngIf="status == 'falseGender'">
    <p style = "font-family:courier,arial,helvetica; text-align: center">
      Cak Cak Cak...... <br>
      Not Found, u should come back if no u are gay
    </p>
  </div>
  <div *ngIf="status == 'falseName'">
    <p style = "font-family:courier,arial,helvetica; text-align: center">
      Cak Cak Cak...... <br>
      Có vẻ hiện tại không có ai trùng với tên này rồi!
    </p>
  </div>

<!--z-->
  <p style="margin: 6px 0 5px; font-weight: 700;font-size: 25px; color: #f0564a;">Hót hòn họt</p>
  <div class="row" *ngIf="listUserCCDVHaveCategory.length !== 0">
    <div class="col-3 " *ngFor="let userCCDVCategory of listUserCCDVHaveCategory | paginate : {
                itemsPerPage: 12,
                currentPage: page2,
                totalItems: size2,
                id: 'second'
              };">
      <a style="text-decoration: none; cursor: pointer"
         [routerLink]="['provider-profile/', userCCDVCategory.id ]">
        <div class="card text-black mt-3" style="border-radius: 10px">
          <img style="height: 255px; width: 255px ; border-radius: 10px 10px 0 0"
               src="{{userCCDVCategory.avatar}}">
          <div class="card-img-overlay">
            <button class="btn-danger btn-md"
                    style="border-radius: 20px; margin-top: 85%; margin-left: 80%; inline-size: 100px">{{userCCDVCategory.price}},000 đ/h
            </button>
          </div>
          <div class="row pl-3 mb-3">

            <h4 class="col-12 mt-3" style=" color: orangered">{{userCCDVCategory.name}}</h4>
            <div class="col-12" style="color: gray">{{userCCDVCategory.description}}</div>
            <div class="col-12" style="color: gray">{{userCCDVCategory.category_name}}</div>

          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="mt-5 d-flex justify-content-center">
    <pagination-controls (pageChange)="page2 = $event" id='second'></pagination-controls>
  </div>

</div>
