
.filter-player {
  height: 127px;
}

.filter-player {
  margin: 20px 0;
  height: 32px;
}

a, button, div, p, span {
  font-family: Poppins;
}

*, :after, :before {
  box-sizing: border-box;
}

user agent stylesheet
div {
  display: block;
}


.filter-player .form-control.gender {
  width: 25%;
}

.filter-player .form-control.gender {
  width: 85px;
}

.filter-player .form-control.gender {
  width: 85px;
}

.filter-player .form-control {
  border-radius: 25px;
  font-size: 11px;
  padding: 5px;
  height: 32px;
  margin-right: 3px;
  margin-bottom: 5px;
  max-width: 160px;
  float: left;
  cursor: pointer;
  font-weight: 600;
}

.filter-player .form-control.btn-filter {
  width: 100px;
  float: right;
  margin: 0;
  background: #f0564a;
  color: #fff;
  padding-top: 7px;
}

.filter-player .form-control city {
  width: 85px;
}


img {
  width: 253px;
  height: 250px;
}

.img-edit{
  max-width: 300px;
  height: auto;
  border-radius: 10%;
  margin: 16px 10px 20px 160px;
  image-rendering: pixelated;
  object-fit: contain;
}

.name-user {
  margin-top: 10px;
  margin-left: 6px;
  font-size: 16px;
  color: orangered;
}

.description-user{
  color: gray;
  margin-top: -3px;
  margin-left: -6px;
  font-size: 14px;
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category-user {
  color: gray;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: -3px;
  margin-left: -6px;
  font-size: 14px;
}

/*chat*/

.slide {
  margin-top: 24px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: height .5s;
}

.slide .global-chat {
  border: 1px solid #f0f0f0;
}

.global-chat {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}

.global-chat-display {
  height: 269px;
  overflow: auto;
  position: relative;
  margin-bottom: 10px;
  transition: height .3s;
}

.global_message__item {
  margin-top: 0;
  padding-top: 5px;
}

.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

.global_message__item .media-body .chat-name {
  float: left;
}


.color-name{
  display: inline-block!important;
  font-weight: 600;
}

.global_message__item .media-body p {
  margin-bottom: 0;
  margin-right: 5px;
  white-space: normal;
  word-break: break-word;
  font-size: 20px;
  margin-top: 10px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: initial;
}

.global-chat #formChatText {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.global-chat .form-group {
  position: relative;
  margin-bottom: 0;
}

.global_message__item .media-left .avt-img {
  height: auto!important;
}

.avt .avt-img {
  min-width: 25px;
}
.avt img {
  border-radius: 50%;
  width: 50px;
}
