<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Đăng nhập</h2>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="email" class="text-uppercase">Tên tài khoản</label>
            <input type="text" name="email" id="email" class="form-control" formControlName="userName" placeholder="Mời nhập tên tài khoản">

          </div>
          <div class="form-group">
            <label for="password" class="text-uppercase">Mật khẩu</label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password" placeholder="Mời nhập mật khẩu">
          </div>


          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small>Lưu đăng nhập</small>
            </label>
            <button type="submit" class="btn btn-login float-right">Đăng nhập</button>
          </div>
          <div class="text-center mt-5" style="color: #a94442; font-style: oblique; font-weight: bolder">
            ~ {{status}} ~
          </div>

        </form>
        <div class="copy-text">Chưa có tài khoản <i class="fa fa-heart"></i> <a routerLink="/create"> Đăng ký</a></div>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
