<div id="root">
  <div class="wrapper">
    <div class="setting__main row">
      <div class="setting__main--menu col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="menu">
          <div class="menu__setting  panel-group">
            <div class="menu__setting--main panel panel-default">
              <div class="panel-heading">
                <div class="panel-title"><a aria-expanded="false" class="collapsed" role="button" href="#">TÀI KHOẢN <i
                  class="fas fa-chevron-right"></i></a></div>
              </div>
              <div class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                  <div class="panel-group">
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class=" active panel-title"><i class="fas fa-user-tie"></i> Thông tin cá nhân</div>
                      </div>
                    </div>
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="  panel-title"><i class="fas fa-sliders-h"></i> Thống kê</div>
                      </div>
                    </div>
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="title-sub  panel-title"><a aria-expanded="true" class="" role="button" href="#"><i
                          class="fas fa-cog"></i> Cài đặt <i class="fas fa-chevron-down"></i></a></div>
                      </div>
                      <div class="panel-collapse collapse in" style="">
                        <div class="panel-body">
                          <div class="panel-group">
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Email</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Tài khoản và mật khẩu</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Khoá bảo vệ</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Vip</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Hiển thị</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="title-sub  panel-title"><a aria-expanded="false" class="collapsed" role="button"
                                                               href="#"><i class="fas fa-history"></i> Lịch sử giao dịch
                          <i class="fas fa-chevron-right"></i></a></div>
                      </div>
                      <div class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="panel-group">
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Lịch sử donate</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Lịch sử duo</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Lịch sử tạo code</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Biến động số dư</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Lịch sử mua thẻ</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="  panel-title"><i class="fas fa-id-card"></i> Đại lý card</div>
                      </div>
                    </div>
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="  panel-title"><i class="fas fa-credit-card"></i> Thanh toán</div>
                      </div>
                    </div>
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="  panel-title"><i class="fas fa-wallet"></i> Ví</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="menu__setting--main panel panel-default">
              <div class="panel-heading">
                <div class="panel-title"><a aria-expanded="false" class="collapsed" role="button" href="#">TRANG CÁ NHÂN
                  <i class="fas fa-chevron-right"></i></a></div>
              </div>
              <div class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                  <div class="panel-group">
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="title-sub  panel-title"><a aria-expanded="false" class="collapsed" role="button"
                                                               href="#"><i class="fas fa-tags"></i> Hashtags <i
                          class="fas fa-chevron-right"></i></a></div>
                      </div>
                      <div class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="panel-group">
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Dành cho sáng tạo nội dung</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="title-sub  panel-title"><a aria-expanded="false" class="collapsed" role="button"
                                                               href="#"><i class="fas fa-cog"></i> Cài đặt <i
                          class="fas fa-chevron-right"></i></a></div>
                      </div>
                      <div class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="panel-group">
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Url</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Mạng xã hội</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Hiển thị</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="title-sub  panel-title"><a aria-expanded="false" class="collapsed" role="button"
                                                               href="#"><i class="fas fa-users"></i> Thành viên <i
                          class="fas fa-chevron-right"></i></a></div>
                      </div>
                      <div class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="panel-group">
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Bậc</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Danh sách thành viên</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Lịch sử đã đăng ký</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="title-sub  panel-title"><a aria-expanded="false" class="collapsed" role="button"
                                                               href="#"><i class="far fa-dot-circle"></i> Mục tiêu <i
                          class="fas fa-chevron-right"></i></a></div>
                      </div>
                      <div class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="panel-group">
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Cài đặt</div>
                              </div>
                            </div>
                            <div class="menu__setting--last panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">Lịch sử</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="menu__setting--sub panel panel-default">
                      <div class="panel-heading">
                        <div class="  panel-title"><i class="fas fa-ban"></i> Danh sách chặn comment</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-drawer-setting visible-xs"><i class="fas fa-chevron-right"></i></div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="aside">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 personalinfo"><h3>Thông tin cá nhân</h3>
              <div class="d-flex img-avatar">
                <img src="{{userForm.get('avatar')?.value}}" class="" alt="avatar" sizes="sm">
                <div class="cropimg-avatar">
                  <button type="button"><span> Thay Đổi<p>JPG, GIF or PNG, &lt;5 MB. </p></span></button>
                </div>
              </div>
              <form class="from-userinfo" [formGroup]="userForm">
                <div class="fieldGroup "><p class="control-label">Họ và tên</p>
                  <input type="text" name="name" placeholder="" maxlength="5000" autocomplete="false" formControlName="name">
                </div>
                <p class="control-label">Ngày sinh</p>
                <input type="date" maxlength="5000" autocomplete="false" formControlName="dateOfBirth">
                <p class="control-label">Thành phố</p>
                <select name="city" formControlName="city">
                  <option *ngFor="let item of city1" value="{{item.name}}">{{item.name}}</option>
                </select>
                <div class="fieldGroup ">
                  <p class="control-label">Giới tính</p>
                  <select name="gender" formControlName="gender">
                    <option value="" disabled>Giới tính</option>
                    <option value="Nam">Nam</option>
                    <option value="Nu">Nữ</option>
                  </select>
                </div>
                <div class="fieldGroup ">
                  <p class="control-label">Miêu tả</p>
                  <textarea type="text" name="name" placeholder="" maxlength="5000" autocomplete="false" value="sonstarx02" rows="6" formControlName="description"></textarea>
                  </div>
                <hr>
                <button type="submit" class="btn-update" (click)="updateUser()">Cập nhật</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
