<div class="container">
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header pb-1">
          <div class="card-actions float-right">
            <div class="dropdown show">
            </div>
          </div>
          <!--            <h5 class="card-title mb-0">Danh sách người dùng trong hệ thống</h5>-->
        </div>
        <div class="card-body">
          <table class="table table-hover" style="text-align: center">
            <thead>
            <tr>
              <th><span>Người Thuê</span></th>
              <th><span>Người CCDV</span></th>
              <th><span>Ngày thuê</span></th>
              <th><span>Giờ bắt đầu</span></th>
              <th><span>Thời gian thuê</span></th>
              <th><span>Số tiền (VNĐ)</span></th>
              <th><span>Trạng thái</span></th>
              <th><span>Xem chi tiết</span></th>
              <th><span>Hành động</span></th>
            </tr>
            </thead>
            <tbody>
            <!--            <tr *ngFor="let item of rents | paginate: {-->
            <!--            itemsPerPage: 3, currentPage: page, totalItems: totalLength, id: 'first'-->
            <!--             }; index as i">-->
            <tr *ngFor="let item of rents  | paginate : {
                itemsPerPage: 3,
                currentPage: page,
                totalItems: totalLength,
                id: 'first'
              };
        let i = index">
              <td>{{item.userRent?.userName}}</td>
              <td>{{item.user?.userName}}</td>
              <td>{{item.rentDate | date : 'dd/MM/YYYY' }}</td>
              <td>{{item.startTime | date : ' hh:mm' }}</td>
              <td>{{item.time}}  giờ</td>
              <td>{{item.totalMoney}}.000</td>
              <!--  // Trạng thái của đơn thuê: 0: chờ CCDV phản hồi, 1: Đã nhận, 2:Đã hoàn thành 3.Đã nhận tiền 4. Đã gửi báo cáo-->

              <td  *ngIf="item?.status == 0">Chờ CCDV phản hồi</td>
              <td  *ngIf="item?.status == 1">Đang tiến hành</td>
              <td *ngIf="item?.status == 2">Đã hoàn thành</td>
              <td *ngIf="item?.status == 3">Đã nhận tiền</td>
              <td *ngIf="item?.status == 4">Đã gửi báo cáo</td>
              <td *ngIf="item?.status == 5">Đã duyệt báo cáo</td>


              <td>
                <a class="btn btn-outline-info" data-toggle="modal" data-target="#detail" (click)="getRentById(item.id)">Xem chi tiết đơn
                  thuê
                </a>
              </td>

              <td  *ngIf="item?.status == 0">Chưa gửi báo cáo</td>
              <td  *ngIf="item?.status == 1">Chưa gửi báo cáo</td>
              <td *ngIf="item?.status == 2">Chưa gửi báo cáo</td>
              <td *ngIf="item?.status == 3">Chưa gửi báo cáo</td>
              <td class="btn btn-outline-success" *ngIf="item?.status == 4" style="cursor: pointer" (click)=changeStatus(item.id,5)>Chờ duyệt báo cáo</td>
              <td *ngIf="item?.status == 5">Đã duyệt báo cáo</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!---->

  <div class="mt-5 d-flex justify-content-center">
    <pagination-controls (pageChange)="page = $event" id='first'></pagination-controls>
  </div>
</div>


<!--Detail rent-->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document"  style="transform: translateX(-25%);">
    <div class="modal-content text-center">
      <div class="modal-header" style="padding-left: 35%;">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #f0564a">Xem chi tiết hoá đơn</h5>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <p class="col-sm-4 col-form-label detailKey">Người thuê</p>
          <p class="col-sm-8">
            {{rent.userRent?.userName}}
          </p>
        </div>
        <div class="form-group row">
          <p class="col-sm-4 col-form-label detailKey">Người CCDV</p>
          <p class="col-sm-8">
            {{rent.user?.name}}
          </p>
        </div>
        <div class="form-group row">
          <p class="col-sm-4 col-form-label detailKey">Ngày</p>
          <p class="col-sm-8">
            {{rent.rentDate | date : 'dd/MM/YYYY'}}
          </p>
        </div>
        <div class="form-group row">
          <p class="col-sm-4 col-form-label detailKey">Thời gian bắt đầu (h)</p>
          <p class="col-sm-8">
            {{rent.startTime | date : 'hh:mm dd/MM/YYYY'}}
          </p>
        </div>
        <div class="form-group row">
          <p class="col-sm-4 col-form-label detailKey">Tổng thời gian (h)</p>
          <p class="col-sm-8">
            {{rent.time}}
          </p>
        </div>
        <div class="form-group row">
          <p class="col-sm-4 col-form-label detailKey">Tổng số tiền (VNĐ)</p>
          <p class="col-sm-8">
            {{rent.totalMoney}}.000
          </p>
        </div>
        <div class="form-group row">
          <p class="col-sm-4 col-form-label detailKey">Trạng thái</p>
          <p class="col-sm-8" *ngIf="rent.status == 0">Chờ phản hồi</p>
          <p class="col-sm-8" *ngIf="rent.status == 1">Đã tiếp nhận</p>
          <p class="col-sm-8" *ngIf="rent.status == 2">Đã hoàn thành</p>
          <p class="col-sm-8" *ngIf="rent.status == 3">Đã thanh toán</p>
          <p class="col-sm-8" *ngIf="rent.status == 4">Đã báo cáo</p>
        </div>
        <div class="form-group row">
          <p class="col-sm-4 col-form-label detailKey">Các dịch vụ sử dụng</p>
          <div class="col-sm-8">
            <p class="col-sm-12" *ngFor="let s of rent.services">+ {{s.name}}</p>
          </div>
        </div>
        <div class="form-group row">
          <p class="col-sm-4 col-form-label detailKey">Phản hồi</p>
          <p class="col-sm-8">{{rent.feedback}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>


